*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-position: 100vh;
    background-color: rgb(224, 184, 138);
    background-repeat: no-repeat;

}
 
#wrapper{
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1.3fr 1.3fr 1fr;
    grid-template-areas:
    ". he he ."
    ". text1 text2 ."
    ". art2 art1 ."  ;
    
    
}

#wrapper_resturang{

    
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1.3fr 1.3fr 1fr;
    grid-template-areas:
    ". he he .";

}

.header_resturang{

    margin-top: 15px;
    color: white;
    grid-area: he;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 20px;
    border-bottom: rgb(255, 255, 255) solid 2px; 
}
    
    
header{
    margin-top: 15px;
    color: white;
    grid-area: he;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 20px;
    border-bottom: rgb(255, 255, 255) solid 2px; 
    
    
    
}

a{

    color: white;
    text-decoration: none;

}

a:hover{

    opacity: 50%;

}
    
    
#art1{
    
    grid-area: art1;
    border-radius: 1px solid black;
    
    height: 1000px;
    margin-right: 10px;

    display: grid;
    grid-template-rows: 1.2fr 1fr 1fr ;
    grid-template-columns: 1fr ;
    grid-template-areas:
    "new_art_1"
    "new_art_2"
    "new_art_3" ;
    
    
}

#new_art_1{

    grid-area: new_art_1;
    background-color: rgb(255, 255, 255,.5);
    margin-bottom: 15px;

    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 0.5fr 1fr ;
    grid-template-areas:
    "text_new_art_1 picture_new_art_1";
    
}

#text_in_new_text_1{
    grid-area: text_new_art_1;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 7px;
    

}

#picture_new_art_1{

    background-image: url(/img/animals/camel/Projekt1.jpg);
    background-size: 500px;

}

#new_art_2{
    
    grid-area: new_art_2;
    background-color: rgb(255, 255, 255,.5);
    margin-bottom:15px;
    display: grid;
    grid-template-rows: 0.3fr 0.2fr 0.2fr 0.2fr;
    grid-template-columns:  1fr ;
    grid-template-areas:
    "."
    "Aktitvitet_1"
    "Aktitvitet_2"
    "Aktitvitet_3";
    padding: 5px;

}

#aktitvitet_1{
    
    margin-top: 10px;
    display: flex;
    grid-area: Aktitvitet_1;
    background-color: rgb(156, 114, 66,.3);
    justify-content: space-evenly;
    align-items: center;


}
#Aktitvitet_2{

    margin-top: 10px;
    display: flex;
    grid-area: Aktitvitet_2;
    background-color: rgb(156, 114, 66,.3);
    justify-content: space-evenly;
    align-items: center;

}
#Aktitvitet_3{
    
    margin-top: 10px;
    display: flex;
    grid-area: Aktitvitet_3;
    background-color: rgb(156, 114, 66,.3);
    justify-content: space-evenly;
    align-items: center;

}


#box_for_text{
    
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

#new_art_3{

    grid-area: new_art_3;
    background-color: rgb(255, 255, 255,.5);

}

    
#art2 {
    
    color: white;
    
    grid-area: art2;
    margin-right: 20px;
    
    
    
    display: grid;
    
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "s1"
    "s2"
    "s3";

   
    
}
#s1{

    margin-bottom: 15px;
    grid-area: s1;
    background-color: rgb(255, 255, 255,.5);
    padding: 20px;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "s1_pic1 s1_pic2 s1_pic3"

}   

#s1_pic1{
    margin-top: 10px;
    background-image: url(/img/animals/camel/Camal_pic1.jpg);
    background-size: 400px;
    background-position-x: -50px;

}

#s1_pic2{
    margin-top: 10px;
    background-image: url(/img/animals/camel/camels-desert_78361-872.webp);
    background-size: 390px;
    background-position-x: -110px;
}

#s1_pic3{
    margin-top: 10px;
    background-size: 240px;
    background-position-x: -40px;
    background-image: url(/img/animals/camel/Camel_pic3_new.jpg);


}

.sections_style_second_grid_box{

}

#s2{

    grid-area: s2;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255,.5);

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    
    "s1_pic1 s1_pic2 s1_pic3"
    


}



#s3{

    grid-area: s3;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255,.5);

    
}



.pic_in_art2_section{


}



#text{

    margin-top: 100px;
    margin-bottom: 100px;
    grid-area: text1;
    
    width: 450px;
    height: 250px;

    display: grid;
    grid-template-rows: 0.5fr  ;
    grid-template-columns: 1fr ;
    grid-template-areas:
    "text"
    "button";

    
}




#boka_nu{

    
    width: 240px;
    height: 90px;
    
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}


#boka_text {
    
    grid-area: text;
    color: white;

}


#boka_nu:hover{

    border:rgb(0, 0, 0) solid 2px; 
   background-color: rgb(255, 255, 255,.85);
   cursor: pointer;

}


  

   
    
  