* {

margin: 0%;

}

body{
    gap: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    height: 100vh;
    display: grid;
    opacity: 0,5%;
    background-image: url(../img/animals/camel/camels-desert_78361-872.webp);
    background-size: cover;
    background-size: fixed;
    grid-template-rows: 0.3fr  1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "he he he"
    "art1 emptyart art2"
    "art3 art4 art5"
    

    ;
    
    
    }


    .article{

        opacity: 65%;
        background-color: 
        rgb(216, 173, 118);

        

    }

    header{

        border: solid black;
        border-width: 1px;
        
        
        grid-area: he;
        
        
        
        
        }
        
        
        #art1{
        
       
        grid-area: art1;
        
        
        }
        
        #emptyart {
        
        
       
        opacity: 0%;
        grid-area: emptyart;
        
        
        }
        
        #art2{
        
        
        grid-area: art2;
        
        }
        
        #art3{
        
       
        grid-area: art3;
        
        }
        
        #art4{
        
        
        
        grid-area: art4;
        
        
        }

        #art5{

            
            grid-area: art5;

        }