*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    
    background-position: 0vh;
    background-image: url("../img/animals/camel.jpg");
    background-repeat: no-repeat;

}
 
    #wrapper{
    height: 100vh;
    display: grid;
    grid-template-rows: 0.3fr 1.7fr 2fr 0fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". he he ."
    ". text . ."
    ". art2 art1 ."  ;
    
    
    }
    
    
    header{
    
    color: white;
    grid-area: he;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 20px;
    border-bottom: rgb(255, 255, 255) solid 2px;
    
    }
    
    
    #art1{
    
    background-color: lawngreen;
    grid-area: art1;
    
    
    
    }
    
    #art2 {
    
    
    background-color: royalblue;
    grid-area: art2;
    margin-right: 20px;
    
    
    }

    #text{
        margin-top: 60px;
        grid-area: text;
        color: white;

    }

    section{
        background-image: url(//img/animals/egypt.jpg);
    }

   
    
  